{% extends 'base.html.twig' %}

{% block title %}Grupo{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
<section id = "listaLibros">
    <table class="table">
        <tbody>
            <tr>
                <td><h3>{{grupo.nombre}}</h3></td>
                <td>Username</td>
                <td>Discord</td>
                <td>Rango</td>
                <td>Acciones</td>
            </tr>
            {% for miembro in grupo.miembros %}
            {% if miembro.username == app.user.username %}
            <tr>
                <th>Jugador</th>
                <td>
                    {{miembro.username}}
                </td>
                <td>
                    {{miembro.discord}}
                </td>
                <td>
                    {{miembro.rango}}
                </td>
                <td>
                    {# <button>
                        <a href="/reporte/{{miembro.id}}/new">Reportar jugador</a>
                    </button> #}
                </td>
            </tr>
            {% else %}
            <tr>
                <th>Jugador</th>
                <td>
                    {{miembro.username}}
                </td>
                <td>
                    {{miembro.discord}}
                </td>
                <td>
                    {{miembro.rango}}
                </td>
                <td>
                        <a href="/reporte/{{miembro.id}}/new">Reportar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div class= "enlacesAdmin">
    <button>
    <a href="{{ path('grupos') }}">Volver al Buscador</a>
    </button>
    
    {% if grupo.miembros|length < 5 %}
    <button>
    <a href = "/grupo/{{ grupo.id }}/unirse">Unirse</a>
    </button>
    {% endif %}
        {{ include('grupo/_delete_form.html.twig') }}
    </div>
</section>
    

    {{ include('./admin/footer.html.twig')}}
{% endblock %}
