{% extends 'base.html.twig' %}

{% block title %}Reporte index{% endblock %}

{% block body %}
{{ include('./admin/adminheader.html.twig')}}


    <section id="userList">
        <h1>Lista de reportes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Autor</th>
                <th>Reportado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td>{{ reporte.autor.username }}</td>
                <td>{{ reporte.reportado.username }}</td>
                <td>
                    <a href="{{ path('app_reporte_show', {'id': reporte.id}) }}">Mostrar</a>
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button>
	<a href="{{ path('gestion') }}">Volver ↩</a>
	</button>
    </section>
    {{ include('./admin/footer.html.twig')}}
    {# <a href="{{ path('app_reporte_new', {'id': reporte.id}) }}">Create new</a> #}
{% endblock %}
