{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{{ include('./admin/header.html.twig')}}
<section class="show1">
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>DNI</th>
                <td>{{ user.DNI }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_lists') }}">back to list</a>
    </section>
    {{ include('./admin/footer.html.twig')}}
{% endblock %}
